.app {
  width: 100%;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
}
.counterWrapper {
  width: 380px;
  height:150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  background-color: lightgreen;
}
.contentBlock {
  width: 97%;
  height: 70%;
  font-size: 30px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
}
.buttonsBlock {
  width: 97%;
  height: 20%;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  background-color: goldenrod;
}
.button {
  background-color: royalblue;
}
.buttonDisabled{
  background-color: darkgray;
}
.number{
  color: black;
}
.limitNumber {
  color: red;
}
.tunerContent {
  display: flex;
  flex-direction: column;
}
.tunerInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input input{
  margin-left: 20px
}
.inputError input{
  background-color: red
}